################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EWUS_Expertdatabase.Web/v15/Server/sqlite3/db.lock
.vs/EWUS_Expertdatabase.Web/v15/Server/sqlite3/storage.ide-wal
.vs/EWUS_Expertdatabase.Web/v15/Server/sqlite3/storage.ide
