
@section HeaderOptions {

    <!-- jqGrid -->
    <link href="~/Scripts/jqGrid/css/trirand/ui.jqgrid-bootstrap.css" rel="stylesheet">
}

@section title {
    <h3 style="color:black;margin-left:1.7%;margin-top:1%;">Projekte</h3>
}

<div class="clearfix"></div>

<div class="row">
    <div class="pull-left" style="margin-bottom:10px;margin-left:1%;">
        <button class="assign-role-link btn btn-primary btn-outline" data-url="/Project/Project" id="buttonAddProject" onclick="publicApp.openModalForm(this); false;"><i class="fa fa-plus"></i> <span>Neu</span> </button>
    </div>
    <div class="col-md-12">
        <div id="projectGridContainer" style="margin-top:1%; height:500%;">
            <table id="gridProject"></table>
            <div id="jqGridPagerr"></div>
        </div>
    </div>
</div>

@section ScriptLibs {
    <script src="~/Scripts/jqGrid/js/trirand/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jqGrid/js/trirand/jquery.jqGrid.min.js"></script>

    <script>
        $.jgrid.defaults.width = 100;
        $.jgrid.defaults.responsive = true;
        $.jgrid.defaults.styleUI = 'Bootstrap';
    </script>
    <script src="~/Lib/App/Views/Project/projectIndex.js"></script>
}
