@if (ViewBag.IsPopup)
{
    @Html.Raw("</div><div class='modal-footer'>");
}

@Html.Hidden("IsPopup", (object)ViewBag.IsPopup)
@Html.Raw("<button type='button' class='btn btn-secondary' data-dismiss='modal'>Abbrechen</button> <button tabindex='1000' data-tabindex='1000' type='submit' value='Register' data-localized='SUBMIT' class='btn btn-primary'>Übernehmen</button>")

@if (ViewBag.IsPopup)
{
    @Html.Raw("</div>")
}
