<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            
            <div class="nav toggle" style="margin-left: 10px; visibility:hidden;">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

        </nav>
    </div>
</div>
<!-- /top navigation -->