
@section HeaderOptions {

    <!-- jqGrid -->
    <link href="~/Scripts/jqGrid/css/trirand/ui.jqgrid-bootstrap.css" rel="stylesheet">
}

@section title {
    <h3 style="color:black;margin-left:1.7%;margin-top:1%;">Projekt mit Maßnahme</h3>
}

<div class="clearfix"></div>

<div class="row" id="projectMeasureList">
    <div class="row">
        <div class="col-md-6 row-control-main-wrapper">
            @WebHelpers.TextEditor("ProjectName", "ProjectName", "Projektname", "Projektname", "1", isReadOnly: true)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 row-control-main-wrapper">
            <div class="field-set">
                <div class="field-contener field-select-wrapper-ew">
                    <i class="fa field-icon fa-terminal" data-edit="true" valid="true"></i>
                    <input id="Measure"
                           data-filed-name="Measure"
                           data-representing-type="Select"
                           type="hidden">
                    <div class="field-group float-label-control form-inline-element-wrapper label-wrapper">
                        <label for="Measure-ddl">
                            Maßnahme hinzufügen
                        </label>
                    </div>
                    <div class="field-group float-label-control form-inline-element-wrapper">
                        <select id="Measure-ddl"
                                data-filed-name="Measure"
                                data-tabindex="2"
                                tabindex="2"
                                placeholder="Maßnahme hinzufügen"
                                name="Measure"
                                data-type-name="Measure"
                                data-format="formatWithoutId"
                                data-format-selection="formatWithoutIdSelection"
                                data-url="Measure/GetMeasuresNotRelatedWithProject/@ViewBag.Id"
                                style="width:90%"
                                data-representing-type="Select"
                                onchange="publicApp.onSelectChangeApp(this)"
                                class="selectTwo form-control-ew-select"></select>


                    </div>
                    <a href="#" id="AddMeasureToProject" class="btn btn-xs"> Hinzufügen</a>
                    <div id="field-spinner"></div>
                    <span class="field-validation-valid" data-valmsg-for="Measure" data-valmsg-replace="true"></span>

                </div>
            </div>
            
        </div>


       
    </div>

    <div class="col-md-12">
        <div id="projectMeasureGridContainer" style="margin-top:1%; height:500%;">
            <table id="gridProjectMeasure"></table>
            <div id="jqGridPagerr"></div>
        </div>
    </div>
</div>

@section ScriptLibs {
    <script src="~/Scripts/jqGrid/js/trirand/i18n/grid.locale-de.js"></script>
    <script src="~/Scripts/jqGrid/js/trirand/jquery.jqGrid.min.js"></script>

    <script>
        $.jgrid.defaults.width = 100;
        $.jgrid.defaults.responsive = true;
        $.jgrid.defaults.styleUI = 'Bootstrap';
    </script>

    <script>
        var objectId = "@ViewBag.Id";
        var projectName = "@ViewBag.ProjectName";
    </script>
    <script src="~/Lib/App/Views/ProjectMeasure/projectMeasureIndex.js"></script>
}
